.filters {
  width: 30%;
  height: 100vh;
  float: left;
  background-color: rgb(31, 31, 31);
  color: #fff;
  text-align: center;
}

h1 {
  margin: 5%;
  text-align: center;
  border-bottom: 3px solid gray;
}

#app-description {
  margin: auto 10px;
  text-align: center;
}

.filters-area {
  text-align: center;
  background-color: hsl(0, 0%, 20%, 0.7);
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
}

.color-filter,
.spots-filter {
  padding: 0 15%;
  text-align: center;
}

.filter-title {
  margin: 5px;
}

.css-2b097c-container {
  margin-bottom: 10px;
}
.css-26l3qy-menu,
.css-tlfecz-indicatorContainer {
  color: hsl(0, 0%, 20%) !important;
}

#loading-text {
  text-align: center;
}
